<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<html>
  <head>

  </head>
      <body>
      
        <table>
          <tr>
            <td>
            <%= link_to 'ユーザー管理' ,:controller => 'admin/users', :action => 'index' %>
            </td>
            <td>
            <%= link_to 'ニュースレター' ,:controller => 'admin/news_letter', :action => 'index' %>
            </td>
           

        </table>


      </body>
</html>






<%= "index.rhtml" %>
