ホーム
<%= link_to("プロフィール", :action => "profile") %>
<%= link_to("お気に入り", :action => "favorite") %><br /><br />

<% form_for :mutter_form, :url => {:action => :contribute} do |form| %>
  <%= form.text_area(:mutter, :cols => 60, :rows => 3) %>
  <%= form.text_field(:user_id, :value => @user.id) %>
  <%= submit_tag "投稿する" %>
<% end %>

<%= render(:partial => "mutter") %>