  <table>
    <tr>
      <td>
      <%= link_to '新規作成' ,:action => 'create' %>
      </td>
      <td>
      <%= link_to '送信済み' ,:action => 'history' %>
      </td>
  </table>
<br>
<br>
<br>
<a href ="http://localhost:3000/admin/main/">ＴＯＰへ</a>

