<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<html>
  <head>

  </head>
      <body>
        <table>
          <tr>
            <td>
            <%= link_to 'ユーザー登録' ,:controller => 'admin/users', :action => 'create' %>
            </td>
        </table>
        
        
      </body>
</html>






<%= "index.rhtml" %>
